<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="master.html" />

<head>
    <title>Idiles Dragonfly</title>
</head>

<body>

    <div style="margin-right: auto; margin-left: auto; margin-top: 200px; 
        width: 180px;">
    <h1 style="font-size: 22px; color: #8a9e06; font-weight: normal;">Idiles Dragonfly</h1>
    <div style="margin-top: -15px; margin-bottom: 10px; font-style: italic; color: #AAA;
    font-size: 10px;">ESB for Python/HTTP web services</div>
    <div style="font-size: 10px; text-align: center;"><a 
        style="color: #444;"
        href="http://www.idiles.lt/products/dragonfly">
    Product website</a>
    </div>
    </div>
</body>
</html>
